<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <br/>
    <br/>
    <hgroup>
        <h1>UnAuthorized.</h1>
        <h2>You are not Authorized to complete this request.</h2>
    </hgroup>
    <p>
        <a href="~/Login">Back to Login Page</a>
    </p>
</body>
</html>
