<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submitted</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <hgroup>
        <h1>Evaluation Form Submitted.</h1>
        <h2>You have completed the evaluation.</h2>
    </hgroup>
    <p>
        <a href="~/Login">Back to Login Page</a>
    </p>
</body>
</html>