@{
    
}


@{
    ViewBag.Title = "Evaluation";
}




<!DOCTYPE html>
<html>
<head>
    <title>Evaluation</title>
    <style>
        .Title {
            font-family: MyFont, sans-serif;
            font-size: 24px;
        }
          .Text
          {
              font-family: MyFont, Arial;
              font-size: 14px;
         }
          .label
          {
              font-family: MyFont, 'Bookman Old Style';
              font-size: 16px;
          }
    </style>
</head>
<body>
    <div style='width: 300px; border: 2px solid #dfdfdf; padding: 4px;'>
        <div class="Title">Evaluation</div>
        <div class="Text">Course ID</div><select id="Select1">
            <option>
                CSC455/F1-2019/SPR/09 - Cloud Technologies
            </option>
            <option>
                CSC395/FI-2019/SPR/09 - ST: Deveoping Web Applications

            </option>
            <option>
                CSC200/F1-2019/SPR/09 - Intermediate Programming

            </option>

        </select>
        <div class="Text">Professor being evaluated</div> <select id="Select1">
            <option>
                Mario Guimaraes
            </option>
            <option>
                Christopher Curwood
            </option>
            <option>
                Razvan Mezei
            </option>

        </select>
        <div class="text">Semester being evaluated</div>
        <select id="Select1">
            <option>
                Spring
            </option>
            <option>
                Summer
            </option>
            <option>
                Fall
            </option>

        </select>  
    <div class="text">Year</div>
    <select id="Select1">
        <option>
            2019
        </option>
        <option>
            2020
        </option>
        <option>
            2021
        </option>
    </select>
    
</body>

</html>