@{

}


@{
    ViewBag.Title = "Evaluation";
}




<!DOCTYPE html>
<html>
<head>
    <br />
    <br />
    <br />
    <br />
    <br />
    <title>Evaluation</title>
    <style>
        .jumbotron {
            font-family: MyFont, sans-serif;
            font-size: 50px;
            color: white;
            text-align: center;
            background-color: darkred;
        }

        .Text {
            font-family: MyFont, Arial;
            font-size: 14px;
        }

        .content-wrapper {
            margin: 0 auto;
            max-width: 1050px;
        }

        .col-md-4 {
            font-family: 'Times New Roman';
            font-size: 14px;
            grid-template-columns: subgrid;
            background-color: darkred;
            color: black;
        }

        .Title {
            font-size: 28px;
        }
    </style>
</head>
<body>

    <div class="jumbotron">Evaluation</div>

    <div class="col-md-4">
        Course ID          <select id="Select1">
            <option>
                CSC455
            </option>
            <option>
                CSC395

            </option>
            <option>
                CSC200

            </option>

        </select>
    </div>
    @model Evaluation.Models.Evaluation
    @using (Html.BeginForm("Evaluation", "Student", FormMethod.Post))
    {
        <div class="col-md-4">
            Professor being Evaluated          <select name="TeacherID">
                <option value="1">
                    Mario Guimaraes
                </option>
                <option value="2">
                    Christopher Curwood

                </option>
                <option value="3">
                    Razvan Mezei

                </option>

            </select>
        </div>

        <div class="col-md-4">
            Semester being evaluated
            <select id="Select1">
                <option>
                    Spring
                </option>
                <option>
                    Summer
                </option>
                <option>
                    Fall
                </option>

            </select>
            Year
            <select id="Select1">
                <option>
                    2019
                </option>
                <option>
                    2020
                </option>
                <option>
                    2021
                </option>
            </select>
        </div>
        <hr />
        <hr />

        <div class="Title">Course Assesment</div>
       
        <div class="text-body"> The teaching method was effective</div>
        <select name="EffectiveTeaching">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The teacher provides good feedback</div>
        <select name="ProvidesFeedback">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The class was an effective learning climate</div>
        <select name="learningClimate">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The professor demonstrated knowledge of the subject</div>
        <select name="DemonstrateKnowlege">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The teacher held a level of professionalism</div>
        <select name="professionalism">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement
        </select>



        <div class="text-body"> Overall class ranking</div>
        <select name="overAllRanking">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>





        <hr />
        <div>
            <input id="Button1" type="submit" value="Submit Form" />
        </div>
    }

</body>


</html>
