@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Evaluation";
}



<h2>Evaluation</h2>

<h2>Student Name: (Last, First), </h2><input id="Text1" type="text" /><span style="font-size 12"></span><h2>Student ID</h2><input id="Text1" type="text" />
<h2>Semester being evaluated</h2><select id="Select1">
    <option>
        Spring        
    </option>
    <option>
        Summer
    </option>
    <option>
        Fall
    </option>

</select>
<h2>Year</h2><select id="Select1">
    <option>
        2019
    </option>
    <option>
        2020
    </option>
    <option>
        2021
    </option>

</select>
