@{

}


@{
    ViewBag.Title = "Evaluation";
}




<!DOCTYPE html>
<html>
<head>
    <br />
    <br />
    <br />
    <br />
    <br />
    <title>Evaluation</title>
    <style>
        .jumbotron {
            font-family: MyFont, sans-serif;
            font-size: 50px;
            color: white;
            text-align: center;
            background-color: darkred;
        }

        .Text {
            font-family: MyFont, Arial;
            font-size: 14px;
        }

        .content-wrapper {
            margin: 0 auto;
            max-width: 1050px;
        }

        .col-md-4 {
            font-family: 'Times New Roman';
            font-size: 14px;
            grid-template-columns: subgrid;
            background-color: darkred;
            color: black;
        }

        .Title {
            font-size: 28px;
        }
    </style>
</head>
<body>

    <div class="jumbotron">Evaluation</div>

    <div class="col-md-4">
        Course ID:@TempData["course"]
    </div>

    <div class="col-md-4">
        Semester: @TempData["semester"]


    </div>

    <div class="col-md-4">
        Year: @TempData["year"]


    </div>


    @model Evaluation.Models.Evaluation
    @using (Html.BeginForm("Evaluation", "Student", FormMethod.Post))
    {
        <hr />
        <hr />

        <div class="Title">Course Assesment</div>

        <div class="text-body"> The teaching method was effective</div>
        <select name="EffectiveTeaching">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The teacher provides good feedback</div>
        <select name="ProvidesFeedback">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The class was an effective learning climate</div>
        <select name="learningClimate">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The professor demonstrated knowledge of the subject</div>
        <select name="DemonstrateKnowlege">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>
        <div class="text">The teacher held a level of professionalism</div>
        <select name="professionalism">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement
        </select>



        <div class="text-body"> Overall class ranking</div>
        <select name="overAllRanking">
            <option value="satisfactory">
                Satisfactory
            </option>
            <option value="unsatisfactory">
                Unsatisfactory
            </option>
            <option value="needs improvement">
                Needs Improvement


        </select>





        <hr />
        <div>
            <input id="Button1" type="submit" value="Submit Form" />
        </div>
    }
  

</body>


</html>
