@{
    
}


@{
    ViewBag.Title = "Evaluation";
}




<!DOCTYPE html>
<html>
<head>
    <title>Evaluation</title>
    <style>
        .Title {
            font-family: MyFont, sans-serif;
            font-size: 36px;
        }
          .Text
          {
              font-family: MyFont, Arial;
              font-size: 14px;
         }
        .content-wrapper {
            margin: 0 auto;
            max-width: 960px;
        }

  
    </style>
</head>
<body>
    
    <div class="Title">Evaluation</div>
    <hr />
    <div class="Text">
        Course ID          <select id="Select1">
            <option>
                CSC455
            </option>
            <option>
                CSC395

            </option>
            <option>
                CSC200

            </option>

        </select>
    </div>
    <div class="Text">
        Professor being Evaluated          <select id="Select1">
            <option>
                Mario Guimaraes
            </option>
            <option>
                Christopher Curwood

            </option>
            <option>
                Razvan Mezei

            </option>

        </select>
    </div>

    <div class="text">
        Semester being evaluated
        <select id="Select1">
            <option>
                Spring
            </option>
            <option>
                Summer
            </option>
            <option>
                Fall
            </option>

        </select>
        Year
        <select id="Select1">
            <option>
                2019
            </option>
            <option>
                2020
            </option>
            <option>
                2021
            </option>
        </select>
    </div>
    <hr />
    <div class="Title">Course Assesment</div>
    <div class="text-body"> The teaching method was effective</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement
        

    </select>
    <div class="text">The teacher provides good feedback</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
    <div class="text">The class was an effective learning climate</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
    <div class="text">The professor demonstrated knowledge of the subject</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
    <div class="text">The teacher held a level of professionalism</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
    <div class="text">The outline/syllabus clearly stated the course’s content, grading criteria, and other expectations</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
    
    <div class="text-body"> Overall class ranking</div>
    <select id="Select1">
        <option>
            Satisfactory
        </option>
        <option>
            Unsatisfactory
        </option>
        <option>
            Needs Improvement

    </select>
   

    
   
</body>


</html>
<hr />
<footer>
    <input id="Button1" type="button" value="Submit Form" />
</footer>