@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Department";

}

<h2>Student Information:</h2>




<form action="/Student/Evaluation" method="get">

    <div>
        <h3>Professor being Evaluated</h3>

        @Html.DropDownList("teachername", (SelectList)ViewBag.Teachlist, "Select teacher")
        <h3>Student Id:</h3>
        <!--<input type="text" name="std" >-->
        @Html.DropDownList("std", (SelectList)ViewBag.Studlist, "Select Student ID")
    </div>


    <!-- Student ID user text input-->
    <br/>
    <br/>


    <input type="submit" value="submit">
</form>
<br />

<p>
    <a href="~/Login">Back to Login Page</a>
</p>