@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Evaluation.Models.Evaluation
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Department";

}



<h2>Department Overview</h2>
<h3>@ViewBag.Message</h3>




<b>Please select from the dropdown to view the evaluation of the professors:</b>
<form action="/DeptHead/getEvaluations" method="get">

    <select name="id">

        <option value="3" >Dr. Rezvan Mezai</option>
        <option value="2">Christopher Curwood</option>
        <option value="1">Dr. Mario Guimaraes</option>
    </select>




    <input type="submit" value="submit">
</form>




<p>
    <a href="~/Login">Back to Login Page</a>
</p>

