@{

    ViewBag.Title = "St.Martin's University Class Evaluations";
}


<style>
    .jumbotron
    {
        background-color:darkred;
        color:white;
        text-align:center;
    }
    .lead
    {
        color:white;
    }
    .col-md-4
    {
        background-color:darkred;
        color:white;
        text-align:center;
    }
    
    
</style>
    <div class="jumbotron" >

    <h1 > St.Martin's University Class Evaluations</h1>
    <p class="lead" > Welcome to the St. Martin's University Class evaluation portal! </p>

    </div >

    <div class="row" >
    <div class="col-md-4" >
    <h2 > Students</h2 >
    <p >
    Please follow this link to fill out your student evaluation
    </p >
    <p > <a class="btn btn-default" href="~/Student/Evaluation" > Enter Portal &raquo;</a > </p >
    </div >
    <div class="col-md-4" >
    <h2 > Faculty</h2 >
    <p > Click here to receive class evaluation feedback.</p >
    <p > <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" > Enter Portal &raquo;</a > </p >
    </div >
    <div class="col-md-4" >
    <h2 > Department Heads</h2 >
    <p > Department Heads portal</p >
    <p > <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" > Enter Portal &raquo;</a > </p >
    </div >
    </div >


