@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Evaluation.Models.User
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@{
    string teachername = @TempData["teacherName"].ToString();

}

<h2>Teacher Overview</h2>




<form action="/Teacher/Details" method="get">





    <h3>Teacher Name: @teachername </h3>
    <input type="hidden" name="teachername" value="@teachername" />
    <!-- Student ID user text input-->
    <h3>Student Id:</h3>
    <!--<input type="text" name="std" >-->
    @Html.DropDownList("std", (SelectList)ViewBag.Studlist, "Select Student ID")
    <h3>Is the student Graded ?</h3>
    <select name="graded">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br />
    <br />

    <input type="submit" value="submit">
</form>
<br />

<p>
    <a href="~/Login">Back to Login Page</a>
</p>